

* {
  margin: 0;
}

body {
    font-family: "Oxygen", Tahoma, sans-serif;
    background-image: url("wild_oliva.png");
    height:100%;
    margin:0;
    padding:0;
}

.title {
  width: 100%;
  height: 175px;
  margin: 0;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin-top: 20px;


}

.title_name {
    color: white;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.title_name h1 {
    text-align: center;
    font-size: 550%;
    font-weight:bold;
    position: relative;
    background-image: url("like_awesome.png");
    background-repeat: no-repeat;

}



#hmenu {
  width: 500px;
  margin: 10px auto;

}

#hmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hmenu ul li {
  display: inline;
  float: left;
}

#hmenu ul li a {
  display: block;
  width: 120px;
}



.fb_button {
    width: 100%;
    text-align: center;
    /*width: 500px;*/
    margin: 5px auto;
}

.status {
    color: white;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.footer {
    margin-top: 300px;
    padding: 20px;
    color: white;
    text-align: center;
    clear: both;
}

.graph_title {
    text-align: center;
    color: white;
    font-size: 150%;
    margin: 20px auto;

}

.graph_data {
    width: 400px;
    margin: 0px auto;
}


.chart_holder {
    float: left;
    height: 500px;
}


.chart_legend {
    float: left;
    margin-right: -750px;
    width: 200px;
    padding: 50px 50px;
}


.legend_title {
    text-align: left;
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 90%;
    color: white;
}

.legend_scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    list-style-type: none;

}

.legend_scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  color: white;
}

ul.legend_labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.center {
    margin-left: auto;
    margin-right: auto;
}



button::-moz-focus-inner {
  border: 0; }

button {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c9cbf), color-stop(50%, #546a9e), color-stop(50%, #36518f), color-stop(100%, #3d5691));
  background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px; }
  button.skip:hover {
    background-color: #7f8dad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
    background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    cursor: pointer; }
  button.skip:active {
    -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white; }
